@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @variant dark {
    --color-primary: #f54129;
    --color-secondary-1: #ffdb92;
    --color-secondary-2: #ffeecc;
    --color-secondary-3: #fff5d7;

    --color-text-1: #ffffff;
    --color-text-2: #474747;
    --color-text-3: #757575;
    --color-text-4: #bababa;
    --color-text-5: #ffffff;
    --color-text-6: #f54129;

    --color-icon-1: #ffffff;
    --color-icon-2: #474747;
    --color-icon-3: #ffffff;
    --color-icon-4: #f54129;

    --color-bg-1: #1a1a1a;

    --color-divider-1: #474747;
    --color-divider-2: #5e5e5e;
    --color-divider-3: #ffffff;

    --color-success: #30d158;
    --color-warning: #ffd60a;
    --color-error: #f54129;
    --color-info: #0a84ff;
  }
}

@theme {
  --font-pretendard: Pretendard, sans-serif;

  --color-primary: #f54129;
  --color-secondary-100: #ffdb92;
  --color-secondary-200: #ffeecc;
  --color-secondary-300: #fff5d7;

  --color-text-1: #ffffff;
  --color-text-2: #bababa;
  --color-text-3: #757575;
  --color-text-4: #474747;
  --color-text-5: #000000;
  --color-text-6: #f54129;

  --color-icon-1: #ffffff;
  --color-icon-2: #bababa;
  --color-icon-3: #000000;
  --color-icon-4: #f54129;

  --color-bg-1: #ffffff;
  --color-bg-2: #e8e8e8;

  --color-divider-1: #d1d1d1;
  --color-divider-2: #bababa;
  --color-divider-3: #303030;

  --color-success: #34c759;
  --color-warning: #ffcc00;
  --color-error: #f54129;
  --color-info: #007aff;

  --color-red-500: #f54129;
  --color-red-400: #fd725c;
  --color-red-300: #ff9892;
  --color-red-100: #ffd5ce;
  --color-red-200: #ffbeb5;

  --color-beige-100: #fff3d7;
  --color-beige-200: #ffeecc;
  --color-beige-300: #ffe5af;
  --color-beige-400: #ffdb92;
  --color-beige-500: #ffd175;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

/* 모바일 스크롤 문제 해결 */
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}
